<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="Dependenciesonotherstandards.html">Dependencies on other standards</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
